<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Zaira y Diego</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href={{ url_for('static', filename='css/materialize.css') }}>
  <link href={{ url_for('static', filename='css/style.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inspiration&family=Julius+Sans+One&family=Waterfall&display=swap" rel="stylesheet">
</head>
<body>
  <div class="navbar-fixed">
    <nav class="white" role="navigation" >
      <div class="nav-wrapper container" >
        <ul class="left hide-on-med-and-down ">
          <li><a href="#" class="julius-sans">INICIO</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#" class="julius-sans">PRESENTACION</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#" class="julius-sans">LUGAR</a></li>
        </ul>  
          <img class="brand-logo center responsive-img" width="100" src="{{ url_for('static', filename='topImage1.png') }}" alt="Unsplashed background img 1">
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="julius-sans">ASISTENCIA</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="julius-sans">GALERIA</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="julius-sans">REGALOS</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        
      </div>
    </nav>
  </div>


  <ul id="nav-mobile" class="sidenav">
    <li><a href="{{url_for('login')}}" class="julius-sans">INICIO</a></li>
    <li><a href="#" class="julius-sans">PRESENTACION</a></li>
    <li><a href="#" class="julius-sans">LUGAR</a></li>
    <li><a href="#" class="julius-sans">REGALOS</a></li>
    <li><a href="#" class="julius-sans">GALERIA</a></li>
    <li><a href="#" class="julius-sans">ASISTENCIA</a></li>
  </ul> 

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center light text-lighten-1 waterfall-regular" >Zaira & Diego</h1>
        <div class="row center">
          <h5 class="header col s12 light fun-font waterfall-regular">Nuestra boda</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img width="100%" src="{{ url_for('static', filename='ZyDbg1.png') }}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="material-icons">calendar_month</i></h2>
            <h5 class="center">Fecha</h5>

            <p class="light center-align">1 de Junio 2024</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="material-icons">church</i></h2>
            <h5 class="center">Ceremonia religiosa</h5>

            <p class="light center-align">2:00pm, Templo de San Francisco, Capilla de Guadalupe</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="material-icons">celebration</i></h2>
            <h5 class="center">Fiesta</h5>

            <p class="light center-align">3:00pm, La Rioja, Tepatitlan de Morelos</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Te invitamos a formar parte de nuestra nueva historia</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src={{ url_for('static', filename='background2.jpg') }} alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Mapas</h4>
          <div class="section">

            <div class="row">
              <div class="col s12 m6">
                <div class="icon-block">
                  <h2 class="center deep-purple-text"><i class="material-icons">church</i></h2>
                  <h5 class="center">Templo</h5>
                  <a href="https://maps.app.goo.gl/8ZSx6jMHi81Uhepi9" class="btn-large waves-effect waves-light indigo darken-3 lighten-1">
                    <span><i class="material-icons">map</i> Templo de San Francisco de Asis</span>
                  </a>
                </div>
              </div>
      
              <div class="col s12 m6">
                <div class="icon-block">
                  <h2 class="center deep-purple-text"><i class="material-icons">celebration</i></h2>
                  <h5 class="center">Festejo</h5>
                  <a href="https://maps.app.goo.gl/7TVTEPGi5B5f34i5A" class="btn-large waves-effect waves-light indigo darken-3 lighten-1">
                    <span><i class="material-icons">map</i> La Rioja</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          {% if confirmed is true %}
          <h5 class="header col s12 light">Gracias por acompanarnos.</h5>
          <h6 class="">Tu asistencia ha sido confirmada.</h6>
          {% endif %}
          <div class="row center">
            {% if confirmed is false %}
            <div class="container">
              <h1>Confirma tu asistencia</h1>
              <h3>{{ invite_data['name'] }} ({{ invite_data['adults'] }} adultos, {{ invite_data['children'] }} menores)</h3>
              <form method="post">
                <div class="row">
                  <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
                    <select id="confirmed" name="confirmed" required>
                      <option value="" disabled selected>Confirma tu asistencia</option>
                      <option value="true">Si</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 m3 offset-m3 l3 offset-l3">
                    <label for="adults">Adultos</label>
                    <input type="number" min="1" max="{{ invite_data['adults'] }}" id="confirmed_adults" name="confirmed_adults" placeholder="1" required/>
                  </div>
                  <div class="input-field col s6 m3 l3">
                    <label for="children">Menores</label>
                    <input type="number" min="0" max="{{ invite_data['children'] }}" id="chidlren" name="confirmed_children" placeholder="0" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 offset-s3 offset-m5 m2 l2 offset-l5">
                    <button type="submit" class="btn-large waves-effect waves-light indigo darken-3 lighten-1">Confirmar</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src={{ url_for('static', filename='background3.jpg') }} alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer indigo darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Acerca de nosotros</h5>
          <p class="grey-text text-lighten-4">Proximamente</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Mesas de regalos</h5>
          <ul>
            <li><a class="white-text" href="#!">Liverpool</a></li>
            <li><a class="white-text" href="#!">Amazon</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Codigo de vestimenta</h5>
          <ul>
            <li><a class="white-text" href="#!">Casual</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src={{ url_for('static', filename='js/materialize.js') }}></script>
  <script src={{ url_for('static', filename='js/init.js') }}></script>
  </body>
</html>
