<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Zaira y Diego</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href={{ url_for('static', filename='css/materialize.css') }}>
  <link href={{ url_for('static', filename='css/style.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inspiration&family=Julius+Sans+One&family=Waterfall&display=swap&family=Cinzel:wght@400..900&family=Cormorant+Upright:wght@300;400;500;600;700&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
</head>
<body>
  <div class="nav-wrapper">
    <nav class="white" role="navigation" >
      <div class="nav-wrapper container" >
        <ul class="left hide-on-med-and-down ">
          <li><a href="#start" class="cinzel-oficial">INICIO</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#" class="cinzel-oficial">PRESENTACION</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#" class="cinzel-oficial">LUGAR</a></li>
        </ul>  
          <img class="brand-logo center responsive-img" width="50px" src="{{ url_for('static', filename='Monograma.png') }}" alt="Logo">
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="cinzel-oficial">ASISTENCIA</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="cinzel-oficial">GALERIA</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="cinzel-oficial">REGALOS</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons zyd-purple-text">menu</i>
        </a>
        
      </div>
    </nav>
  </div>


  <ul id="nav-mobile" class="sidenav">
    <li><a href="#start" class="cinzel-oficial">INICIO</a></li>
    <li><a href="#" class="cinzel-oficial">PRESENTACION</a></li>
    <li><a href="#" class="cinzel-oficial">LUGAR</a></li>
    <li><a href="#" class="cinzel-oficial">REGALOS</a></li>
    <li><a href="#" class="cinzel-oficial">GALERIA</a></li>
    <li><a href="#" class="cinzel-oficial">ASISTENCIA</a></li>
  </ul> 

  <div id="start">
    

    <div class="section">
      <div class="main-img">
        <div class="row">
          <div class="col s12 center">
            <a class="ex1 center light text-lighten-1 white-text waterfall-regular" >Zaira </a><a class="ex2 center light text-lighten-1 white-text mrs-saint-delafield-regular">&</a> <a class="ex1 center light text-lighten-1 white-text waterfall-regular"> &nbsp;Diego</a>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row transparencia">
          <div class="col s12 center ">
            <br>
            <a class="ex3 header center light cinzel-oficial grey-text text-darken-3 ">01 DE JUNIO 2024</a>
          </div>
       
          <div class="col s12 center">
            <div id="countdown">
                <span id="days" class="cinzel-oficial span-size "></span>
                <span id="hours" class="cinzel-oficial span-size "></span>
                <span id="minutes" class="cinzel-oficial span-size "></span>
                <span id="seconds" class="cinzel-oficial span-size"></span>
              <div class="row ">
                <a class="ex6 cinzel-oficial text-lighten-1 white-text ">DÍAS &nbsp;&nbsp; HRS &nbsp;&nbsp; MIN &nbsp;&nbsp; SEG</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
  <div class="row section center ">
    <div class="col s12 ">
      <h5 class=" header center light cormorant-upright-regular ">CON LA BENDICIÓN DE DIOS Y NUESTROS PADRES</h5>
      <br>
    </div>
      <div class="col s12 m6">
        <a class="ex4  black-text cormorant-upright-regular" >Angeles Franco García</a>
        <br>
        <a class="ex4  black-text cormorant-upright-regular" >Gustavo Jiménez Avalos</a>
      </div>
      <div class="col s12 ocultar-div">
        <a class="ex4 black-text cormorant-upright-regular" >&</a>
      </div>
      <div class="col s12 m6">
        <a class="ex4 black-text cormorant-upright-regular" >Teresa Gómez Vázquez</a>
        <br>
        <a class="ex4 black-text cormorant-upright-regular" >Joel Serrano Hernández</a>
      </div>
  </div>
  <div class="row ">
    <div class="center col s12">
      <img class="center responsive-img" width="200px" src="{{ url_for('static', filename='MonogramaDetails.png') }}" >
    </div>
  
    <div class="center col s12 ">
      <h5 class="header center col s12 light cormorant-upright-regular " style="color: #A097AE; font-weight: bolder;" > «Nos complace invitarte a nuestra boda.» </h5>
    </div>
  </div>
  <div class="row section center ">
    <div class="col s12 ">
      <h5 class=" header center light cormorant-upright-regular ">NUESTROS PADRINOS</h5>
      <br>
    </div>
      <div class="col s12 m6">
        <a class="ex4  black-text cormorant-upright-regular" >Patricia González Orozco</a>
        <br>
        <a class="ex4  black-text cormorant-upright-regular" >Miguel Angel Navarro Becerra</a>
      </div>
      <div class="col s12 ocultar-div">
        <a class="ex4 black-text cormorant-upright-regular" >&</a>
      </div>
      <div class="col s12 m6">
        <a class="ex4 black-text cormorant-upright-regular" >Rus Castellanos Ibarra</a>
        <br>
        <a class="ex4 black-text cormorant-upright-regular" >Joel Gómez Vázquez</a>
        <br><br>
      </div>
  </div>

  <div class="row grey lighten-5">
    <div class="col s12 ">
      <h3 class="header center light cormorant-upright-regular ">ITINERARIO</h3>
    </div>
    <div class="col s12 m4">
      <div class="icon-block center">
        <h2 class="center blue-lihtgray-color"><i class="material-icons">church</i></h2>
        <h4 class="header center light cormorant-upright-regular ">CEREMONIA</h4>
        
        <a class="ex4 center black-text cormorant-upright-regular" >Templo de San Francisco</a><br>
        <a class="ex4 center black-text cormorant-upright-regular" >Capilla de Guadalupe, Jal.</a><br>
        <a class="ex4 center black-text cormorant-upright-regular" >1:00 p.m.</a><br><br>

        <a href="https://maps.app.goo.gl/8ZSx6jMHi81Uhepi9" class="btn-large waves-effect blue-darkgray-color">
          <span> VER MAPA </span>
        </a>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block center">
        <h2 class="center blue-lihtgray-color"><i class="material-icons">local_bar</i></h2>
        <h4 class="header center light cormorant-upright-regular ">CÓCTEL</h4>

        <a class="ex4 center black-text cormorant-upright-regular" >Terraza la Rioja</a><br>
        <a class="ex4 center black-text cormorant-upright-regular" >Tepatitlán de Morelos, Jal.</a><br>
        <a class="ex4 center black-text cormorant-upright-regular" >3:00 p.m.</a><br><br>

        <a href="https://maps.app.goo.gl/7TVTEPGi5B5f34i5A" class="btn-large waves-effect waves-light blue-darkgray-color">
          <span> VER MAPA </span>
        </a>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block center">
        <h2 class="center blue-lihtgray-color"><i class="material-icons">celebration</i></h2>
        <h4 class="header center light cormorant-upright-regular ">RECEPCIÓN</h4>

        <a class="ex4 center black-text cormorant-upright-regular" >Terraza la Rioja</a><br>
        <a class="ex4 center black-text cormorant-upright-regular" >Tepatitlán de Morelos, Jal.</a><br>
        <a class="ex4 center black-text cormorant-upright-regular" >4:00 p.m.</a><br><br>

        <a href="https://maps.app.goo.gl/7TVTEPGi5B5f34i5A" class="btn-large waves-effect waves-light blue-darkgray-color">
          <span> VER MAPA </span>
        </a><br><br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ url_for('static', filename='ZyD01.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD02.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD03.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD04.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD05.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD06.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD07.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD08.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD09.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD10.jpg') }}"">
          </li>
          <li>
            <img src="{{ url_for('static', filename='ZyD11.jpg') }}"">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="header center light cormorant-upright-regular">SUGERENCIA DE REGALOS</h4>
          <div class="section">
            <div class="row">
              <div class="col s12 m5 l4 liverpool-pink offset-m1 offset-l2">
                <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51329730" class="liverpool-pink"><img src="https://assetspwa.liverpool.com.mx/assets/images/logos/liverpool-logo.svg" class="logo liverpool-logo" ></a>
              </div>
              <div class="col s12 m5 l4">
                <a href="https://www.amazon.com.mx/wedding/registry/8VWKLGTUQMDF"><img src="https://assets.aboutamazon.com/88/05/0feec6ff47bab443d2c82944bb09/amazon-logo.png" class="logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <footer class="page-footer purple-color">
    <div class="container">
      <div class="row center">
        {% if confirmed is true %}
        <h5 class="header col s12 light">Gracias por acompanarnos.</h5>
        <h6 class="cormorant-upright-regular">Tu asistencia ha sido confirmada.</h6>
        {% endif %}
        <div class="row center">
          {% if confirmed is false %}
          <div class="container">
            <h3 class="cormorant-upright-regular">Confirma tu asistencia</h3>
            <h4 class="cormorant-upright-regular">{{ invite_data['name'] }} ({{ invite_data['adults'] }} adultos, {{ invite_data['children'] }} menores)</h4>
            <form method="post">
              <div class="row">
                <div class="input-field col s12 m6 offset-m3 l6 offset-l3 white-text">
                  <select id="confirmed" name="confirmed" required>
                    <option value="" disabled class="cormorant-upright-regular">Confirma tu asistencia</option>
                    <option value="true" class="cormorant-upright-regular">Si</option>
                    <option value="false" class="cormorant-upright-regular">No</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6 m3 offset-m3 l3 offset-l3">
                  <label for="adults" class="white-text cormorant-upright-regular">Adultos</label>
                  <input type="number" min="1" max="{{ invite_data['adults'] }}" id="confirmed_adults" name="confirmed_adults" placeholder="1" class="text-white cormorant-upright-regular" required/>
                </div>
                <div class="input-field col s6 m3 l3">
                  <label for="children" class="white-text cormorant-upright-regular">Menores</label>
                  <input type="number" min="0" max="{{ invite_data['children'] }}" id="chidlren" name="confirmed_children" placeholder="0" value="0" class="text-white cormorant-upright-regular" required/>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6 offset-s3 offset-m5 m2 l2 offset-l5">
                  <button type="submit" class="btn-large waves-effect waves-light blue-darkgray-color">Confirmar</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>

  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src={{ url_for('static', filename='js/materialize.js') }}></script>
  <script src={{ url_for('static', filename='js/init.js') }}></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src={{ url_for('static', filename='js/initialize.js') }}></script>
  <script src={{ url_for('static', filename='js/countdown.js') }}></script>

  </body>
</html>
