<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Zaira y Diego</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href={{ url_for('static', filename='css/materialize.css') }}>
  <link href={{ url_for('static', filename='css/style.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation" >
    <div class="nav-wrapper container" >
      
            <img class="brand-logo center responsive-img" width="100" src="{{ url_for('static', filename='topImage.png') }}" alt="Unsplashed background img 1">
         
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul> 
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons indigo-text text-darken-3">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center light text-lighten-1">Zaira & Diego</h1>
        <div class="row center">
          <h5 class="header col s12 light">Nuestra boda</h5>
        </div>
        <div class="row center">
          <a href="{{ url_for('confirmation', id=id) }}" id="download-button" class="btn-large waves-effect waves-light indigo darken-3 lighten-1">Confirmar asistencia</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img width="100%" src="{{ url_for('static', filename='background1.jpg') }}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="material-icons">calendar_month</i></h2>
            <h5 class="center">Fecha</h5>

            <p class="light center-align">1 de Junio 2024</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="material-icons">church</i></h2>
            <h5 class="center">Ceremonia religiosa</h5>

            <p class="light center-align">2:00pm, Templo de San Francisco, Capilla de Guadalupe</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="material-icons">celebration</i></h2>
            <h5 class="center">Fiesta</h5>

            <p class="light center-align">3:00pm, La Rioja, Tepatitlan de Morelos</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Te invitamos a formar parte de nuestra nueva historia</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src={{ url_for('static', filename='background2.jpg') }} alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Mapas</h4>
          <div class="section">

            <div class="row">
              <div class="col s12 m6">
                <div class="icon-block">
                  <h2 class="center deep-purple-text"><i class="material-icons">church</i></h2>
                  <h5 class="center">Templo</h5>
      
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7458.7811148529345!2d-102.59984180416339!3d20.815929627116823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842930759190c423%3A0x3c09bff00c4f2ea8!2sSan%20Francisco%20de%20As%C3%ADs!5e0!3m2!1ses-419!2smx!4v1693607044356!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
      
              <div class="col s12 m6">
                <div class="icon-block">
                  <h2 class="center deep-purple-text"><i class="material-icons">celebration</i></h2>
                  <h5 class="center">Festejo</h5>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.8649409436375!2d-102.74491012390934!3d20.796751180795216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429291b2a2bc551%3A0x5cbb5ae67c665d2d!2sLa%20Rioja!5e0!3m2!1ses-419!2smx!4v1693607134253!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
      
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Agradecemos tu compania</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src={{ url_for('static', filename='background3.jpg') }} alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer indigo darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Acerca de nosotros</h5>
          <p class="grey-text text-lighten-4">Proximamente</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src={{ url_for('static', filename='js/materialize.js') }}></script>
  <script src={{ url_for('static', filename='js/init.js') }}></script>

  </body>
</html>
